<div *ngFor="let patient of patients" class="card card-body mb-2">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li>name: {{ patient.first_name }}</li>
        <li>description: {{ patient.middle_name }}</li>
        <li>price: {{ patient.last_name }}</li>
        <li>createdAt: {{ patient.id_card }}</li>
      </ul>
      <button (click)="deletePatient(patient.id)" class="btn btn-danger">
        Eliminar
      </button>
      <button [routerLink]="['/', patient.id]" class="btn btn-secondary">
        Actualizar
      </button>
    </div>
  </div>
</div>
