<div class="d-flex justify-content-center">
  <h1>Actualizar historia clínica</h1>
</div>
<div class="d-flex justify-content-center m-5">
  <div class="col-sm-4 offset-md4">
    <form (submit)="updateMedicalRecord()">
      <div class="mb-3">
        <label for="" class="form-label">Entrada</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="medicalRecord.entry"
          class="form-control"
          placeholder="Ingrese la entrada de la historia clínica"
          autofocus
        />
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-primary btn-block">
          Guardar información
        </button>
      </div>
    </form>
  </div>
</div>
