<div class="row">
  <div class="col-sm-4 offset-md4">
    <div class="card card-body">
      <form (submit)="submitMedicalRecord()">
        <div class="form-group">
          <input
            type="text"
            name="name"
            [(ngModel)]="medicalRecord.entry"
            class="form-control"
            placeholder="Ingrese la entrada de la historia clínica"
            autofocus
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Guardar información
        </button>
      </form>
    </div>
  </div>
</div>
