<h1 class="m-3 text-center">Login</h1>
<form (ngSubmit)="login()" method="post">
  <div class="form-outline m-5">
    <label for="username" class="form-label">Nombre de usuario</label>
    <input
      type="text"
      placeholder="Ingrese su nombre de usuario"
      required="required"
      name="username"
      [(ngModel)]="user.email"
      class="form-control"
    />
  </div>
  <div class="form-outline m-5">
    <label for="password" class="form-label">Contraseña</label>
    <input
      type="password"
      placeholder="Ingrese su contraseña"
      required="required"
      [(ngModel)]="user.password"
      name="password"
      required="required"
      class="form-control"
    />
  </div>
  <div class="col-md-12 text-center">
    <button class="btn btn-primary btn-block" type="submit">Login</button>
  </div>
</form>
